* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgb(130, 127, 127);
  border-radius: 8rem;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap; /* allows stacking on smaller screens */
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  max-width: 100%;
  flex: 1 1 100%; /* take full width on smaller screens */
  border-radius: 0.7rem;
}

main .left {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: black;
  position: relative;
}

main .right {
  overflow: auto;
  padding: 1rem 2rem;
  background-color: rgb(69, 67, 67);
}

main .left .review-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgb(56, 56, 129);
  padding: 0.5rem 2rem;
  border-radius: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.left .code,
.code pre,
.code pre code {
  overflow-x: auto;
  height: 100%;
  max-width: 100%;
  margin: 0;
  border-radius: 0.7rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  color: #e0e0e0;
}

.loader-ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #e0e0e0;
}

.loading {
  color: #e0e0e0;
  font-size: 2rem;
  display: flex;
}

/* Media Queries for responsiveness */
@media (min-width: 768px) {
  main .left,
  main .right {
    flex: 1 1 48%;
  }
}

@media (max-width: 480px) {
  main {
    height: 50%;
    padding: 1rem;
  }

  main .right {
    padding: 1rem;
  }

  main .left .review-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
